.about {

    position: relative;

    
    //============TOP BANNER===============

    &__banner {
        position: relative;
        background-image: url('/public/img/about/top-banner-about.jpg');
        background-size: cover;
        background-position: top right;
        height: 40vh;

        animation: moveUp 2s 1s;
        animation-fill-mode: backwards;

        @include respond (phone) {
            background-image: url('/public/img/about/mobile-banner-about.jpg');
            background-position: top;
            width: 100%;
        }

        @include respond(mini) {
            position: relative;
            background-position: top left 40%;
            height: 35vh;
        }
    }

    &__banner-title {
        position: absolute;
        bottom: 10%;
        right: 25%;
        font-weight: 300;
        color: white;


        font-size: 6rem;
        background-color: $purple-primary;
        padding: 0 2rem 1rem;
        line-height: .8;

        @include respond(phone) {
            bottom: 0;
            left: 45%;
            right: auto;
            transform: translateY(50%);
        }

    }

    &__top-bubbles {
        width: 13vw;
        position: absolute;
        right: 6vw;
        top: -15vh;
        z-index: -1;
        opacity: .6;

        animation: moveUp 1s 2s;
        animation-fill-mode: backwards;
    }

    //============MAIN CONTENT==============

    font-family: sans-serif;
    margin-left: 12%;
    margin-bottom: 5rem;

    @include respond(tab-port) {
        margin: 30vh 5vw 10vw;
    }

    //=============TOP SECTION==============

    &__top-section {
        display: grid;
        grid-template-columns: 7fr 5fr;
        grid-template-rows: repeat(2, min-content);
        margin-top: 10rem;
        position: relative;

    }

    &__intro {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        @include respond(mini) {
            grid-column: 1 / 3;
        }

        animation: moveUp 1.5s 2s;
        animation-fill-mode: backwards;
    }

    &__quote {
        font-family: 'Special Elite', cursive;
        font-size: 2.5rem;
        color: rgb(196, 196, 196);
        margin-top: 1.5rem;
        margin-bottom: 6rem;
        margin-left: .5rem;
        line-height: 1.1;

        @include respond(mini) {
            margin-bottom: 3rem;
        }
    }

    &__strong {

            font-size: 2rem;
            background-color: $purple-primary;
            width: max-content;
            padding: .2rem 1rem;
            color: white;
            text-align: left;
            margin: 3rem .5rem 1.5rem 0;

    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.3;
        color: rgb(90, 90, 90);
        margin-bottom: 2rem;
        text-align: justify;
        padding-bottom: 2rem;

        &--black {
            color: black;
        }

        &--special {
            width: 37rem;
        }

        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &__intro-images {
        position: relative;
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        animation: moveUp 1.5s 3s;
        animation-fill-mode: backwards;

        @include respond(mini) {
            display: none;
        }

        &--1 {
            position: absolute;
            top: 0;
            right: 20%;
            width: 8vw;

            @include respond(phone) {
                width: 30vw;
                right: 60%;
                width: 30%;
            }

            @include respond(mini) {
                top: -85%;
                width: 6rem;
                right: 15%;
                display: none;
            }
    
        }

        &--2 {
            position: absolute;
            bottom: -10%;
            left: 5%;
            width: 60%;

            @include respond(tab-land){
                width: 60%;
            }

            @media only screen and (max-width: 700px) {
                width: 70%;
            }

            @include respond(phone) {
                width: 90%;
                bottom: 0;
                right: 0;
                left: auto;
            }

            @include respond(mini) {
                position: static;
                width: 15rem;
            }
        }
    }

    &__intro-mobile-image {

        display: none;

        @include respond(mini) {
            display: inline-block;
            position: relative;
            bottom: -1rem;
            width: 30vw;
            float: right;
            shape-outside: url('/public/img/about/intro-profile.png');
            shape-margin: 1rem;
            margin-top: 6rem;
            margin-left: 2.2rem;
            border-radius: 50%;
            left: 1rem;
        }
    }


    &__declaration {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        position: relative;

        @include respond(tab-port) {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
            margin-top: 3rem;
        }

        @include respond(mini) {
            margin-top: 5rem;
        }
    }

    &__declaration-image {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        
        display: flex;
        justify-content: flex-end;
        align-items: center;


        @include respond(tab-port) {
            display: none;
        }
    }

    &__declaration-circle {

        &--1 {
            display: none;

            @include respond(tab-port) {
                display: inline;
                
            }
        }

        &--2 {
            width: 90%;

            @include respond(tab-land){
                width: 97%;
            }
        }

        @include respond(tab-port) {
            position: relative;
            bottom: auto;
            float: right;
            shape-outside: url('/public/img/about/about-full-circle.png');
            width: 40vw;
            right: -5vw;
        }

        @include respond(phone) {
            width: 50vw;
            right: -5vw;
            margin-top: 5rem;
        }

        @include respond(mini) {
            width: 60vw;
            margin-top: 0;
        }
    }

    &__signature {
        display: flex;
        justify-content: flex-end;
        margin-top: -1rem;
    }

    &__signature-image {
        width: 20rem;
    }


    //================INTERVIEW===================

    &__interview {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5rem;

        @include respond(phone) {
            grid-template-columns: 1fr;
        }
        
        &-header {
            display: flex;
            margin-top: 5rem;

            @include respond(phone) {
                width: 90vw;
                height: 90vw;
                background-image: url('/public/img/about/interview-image.jpg');
                background-size: cover;
            }
        }

        &-image {
            width: 50%;

            @include respond(phone){
                display: none;
            }
        }    

        &-title {
            width: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;

            @include respond(phone) {
                width: 100%;
            }
        }

        &-heading {
            @media only screen and (max-width: 700px) {
                font-size: 2.2rem;
                letter-spacing: .8rem;
            }

            @include respond(phone){
                font-size: 4vw;
                letter-spacing: 1.5vw;
                position: absolute;
                top: 30%;
                left: 35%;
            }
        }

        &-bubbles {
            position: absolute;
            top: 0;
            left: 42%;
            width: 12rem;

            @include respond(phone) {
                display: none;
            }
        }


        &-text {
            position: relative;
        }

        &-bottom-image {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            width: 100%;
            position: absolute;
            top: 20%;
            right: -100%;

            @include respond(phone) {
                position: static;
                top: auto;
                right: auto;
                // width: 90vw;
                height: 100vw;
                grid-column: 1 / 2;
            }
        }

    }


    //================BOTTOM NAVIGATION BUTTONS==================


    &__back-btn {
        position: absolute;
        // bottom: 2rem;
        // left: -7rem;

        @include respond(phone) {
            left: 1rem;
            bottom: -2rem;
        }
    }

    &__go-top {
        position: absolute;
        bottom: -3rem;
        right: -8rem;
        z-index: 3;

        @include respond(phone) {
            right: 2rem;
            bottom: -3rem;
        }
    }

}

