.contact {

    display: grid;
    grid-template-columns: repeat(2, min-content);

    @media only screen and (max-width: 500px) {
        grid-template-columns: min-content;
    }

    &__image {
        width: 52vw;
    }

    &__form-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35vw;

        @media only screen and (max-width: 500px) {
            width: 100vw;
        }
    }

    &__title {
        display: inline;
        font-size: 4.5rem;
        font-weight: 300;
        background-color: rgb(221, 129, 221);
        line-height: .8;
        padding: .2rem 1rem .4rem;
        text-align: center;
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: -2rem;
    margin-bottom: 3rem;

    &__label {
        font-size: 1.3rem;
        margin-left: .2rem;
        margin-bottom: .5rem;
    }

    &__input {
        margin-bottom: 2rem;
        border-radius: 0%;
        border: 1.2px solid black;
        padding: .3rem;
        width: 40rem;

        @include respond(phone) {
            width: 30rem;
        }

        @media only screen and (max-width: 500px) {
            width: 65vw;
        }

        
    }

    &__textarea {
        margin-bottom: 1rem;
        border-radius: 0%;
        border: 1.2px solid black;
        padding: .4rem;
        resize: none;
    }

    &__submit {
        border-radius: 50%;
        border: .8rem solid black;
        width: 9rem;
        height: 9rem;
        font-size: 2.5rem;
        font-weight: 400;
        background-color: rgb(221, 129, 221);
        margin-left: auto;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            color: white;
            border: .8rem solid  rgb(221, 129, 221);
            background-color:black;
            transform: scale(1.2);
        }
    }

}

.vl {
    height: 11rem;
    border-left: 1.5px solid black;

    @include respond(phone) {
        height: 9rem;
    }

    @media only screen and (max-width: 400px) {
        height: 6.5rem;
        border-left: 1.5px dashed rgb(152, 152, 152);
        z-index: -1;
    }
}