.gallery {


    display: grid;
    padding: 0 25rem 3rem;




    &--grid-2 {
        grid-template-columns: repeat(2, 1fr);

        @include respond(mini) {
            grid-template-columns: 1fr;
        }
    }

    &--grid-3 {
        grid-template-columns: repeat(3, 1fr);

        @include respond(mini) {
            grid-template-columns: 1fr;
        }
    }
    
    gap: 3.2rem;

    @include respond(tab-land) {
        padding: 0 16rem 3rem;
    }

    @include respond(tab-port) {
        padding: 0 12rem 3rem;
        gap: 2.2rem;
    }

    @include respond(phone) {
        padding: 0 5rem 3rem;
        gap: 1.5rem;
    }

    @include respond(mini) {
        padding: 0 3rem 3rem;
        gap: 2.5rem;
    }

    position: relative;

    &__back-btn {
        position: absolute;
        left: 15rem;

        @include respond(tab-land) {
            left: 12rem;
        }

        @include respond(tab-port) {
            left: 6rem;
        }

        @include respond(mini) {
            left: 2.5rem;
        }
    }

    &__header {
        grid-column: 1 / -1;
        padding: 1rem 0;
        background-color: white;

        position: sticky;
        top: 0rem;
        z-index: 2;
        
        @include respond(mini) {
            top: 5.2rem;
            padding: 1rem 0 1rem 3rem;
        }
    }

    &__title {
        display: flex;
        justify-content: center;
        font-family: 'Special Elite', cursive;
    }

    &__description {
        grid-column: 1 / -1;
        text-align: center;
        display: block;
        font-size: 1.5rem;
        color:grey;

        @include respond(tab-port) {
            color: rgb(207, 207, 207);
        }
    }



    &__item {
        cursor: pointer;
        display: block;
        transition: all .5s;
        position: relative;
    }

    &__item:hover {
        transform: translateY(-3px) scale(1.05);
    }

    &__item::before {
        content: "";
        background-color: transparent;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all .5s;
    }

    &__item:hover::before {
        background-color: rgba(white,.6);
    }

    &__image {
        width: 100%;
        animation: growLittle 2s ease;
        animation-fill-mode: backwards;
        pointer-events: none;
    }




    &__lightbox {
        width: 100%;
        height: 100vh;
        background-color: rgba(#000, .92);

        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        z-index: 3;
        transition: all .7s ease-in-out;

        img {
            display: block;
            height: 95%;
            line-height: 0;
            pointer-events: none;

            @include respond(tab-land) {
                height: 90%;
            }

            @include respond(phone) {
                height: auto;
                width: 90%;
            }
        }

        &--open {
            visibility: visible;
            opacity: 1;
        }
    }

    &__x-mark {

        position: absolute;
        display: block;
        height: 4rem;
        width: 4rem;
        top: 5rem;
        right: 10rem;
        cursor: pointer;

        @media only screen and (max-width: 700px) {
            right: 5rem;
            top: 3rem;
        }

        @media only screen and (max-width: 550px) {
            right: 3rem;
            top: 2rem;
        }


        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: rgb(235, 235, 235);
            display: inline-block;
            position: absolute;
            transition: all .4s;
        }

        &::before {
            content: "";
            top: 1.5rem;
            right: 0;
            transform: rotate(45deg);
        }

        &::after {
            content: "";
            top: 1.5rem;
            right: 0;
            transform: rotate(135deg);
        }

        &:hover::before,
        &:hover::after {
            transform: rotate(180deg);
            background-color: white;
        }

    }

    &__arrow-left {
        @include arrow;
        left: 5rem;

        @media only screen and (max-width: 550px) {
            left: 2rem;
        }

        &::before {
            top: 1px;
            transform: rotate(-45deg);
            transform-origin: left;
        }

        &::after {
            transform: rotate(45deg);
            transform-origin: left;
        }
    }

    &__arrow-right {
        @include arrow;
        right: 5rem;

        @media only screen and (max-width: 550px) {
            right: 2rem;
        }

        &::before {
            transform: rotate(-45deg);
            transform-origin: right;
        }

        &::after {
            top: 1px;
            transform: rotate(45deg);
            transform-origin: right;
        }
    }

}


