.series {

    padding: 0 12rem 10rem 18rem;

    &__heading {
        text-align: center;
        margin-bottom: 5rem;
        color: rgb(199, 199, 199);
        text-transform: uppercase;
        font-size: 2.3rem;
        margin-right: 7rem;
        font-family: 'Special Elite', cursive;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        gap: 4rem;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        margin-right: 3.2rem;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: black;
            outline: 1.5rem solid black;
            transform: scale(1.1);
        }

        &:hover + figcaption {
            color: rgb(161, 161, 161);
        }
    }

    &__caption {
        text-align: left;
        font-family: sans-serif;
        font-size: 1.8rem;        

        cursor: pointer;
        transition: all .3s;
        color: transparent;
        
    }
}