.themes {

    display: grid;
    grid-template-columns: repeat(2, min-content);
    padding: 5rem;
    justify-content: center;
    gap: 5rem;

    @include respond(phone) {
        grid-template-columns: min-content;
        gap: 1rem;
        margin-top: 3rem;
    }

    @include respond(mini) {
        padding: 15rem 5rem 6rem;
    }

    &__figure {
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        &--1 {
            flex-direction: row-reverse;

            @include respond(phone) {
                flex-direction: row;
            }
        }

    }

    &__image {
        display: block;
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
        margin-bottom: 2rem;
        border: none;
        cursor: pointer;

        @include respond(phone) {
            width: 40vw;
            height: 40vw;
        }

        animation: grow 1.5s ease 3s;
        animation-fill-mode: backwards;

        &:hover {
            background-color: rgb(235, 233, 233);
            outline: 2.5rem solid rgb(235, 233, 233);
        }

        &:hover + figcaption {
            color: rgb(133, 131, 131);
        }

        @include respond(mini) {
            animation: grow 1.5s ease 3s;
            animation-fill-mode: backwards;
            background-color: rgb(252, 252, 252);
            outline: 1.5rem solid rgb(252, 252, 252);
            margin-bottom: 3rem;
        }

        &--1 {
            @include respond(mini) {
                background-color: rgb(248, 248, 248);
                outline: 1.5rem solid rgb(248, 248, 248);
            }
        }

    }


    &__caption {
        text-align: center;
        font-size: 2rem;
        margin: 1rem;
        color: lightgrey;
        cursor: pointer;
        width: 20rem;

        animation: moveUp 1.2s 1.5s;
        animation-fill-mode: backwards;

        @include respond(tab-land) {
            font-size: 2.2rem;
            width: 15rem;
        }

        @include respond(phone) {
            grid-template-columns: min-content;
            font-size: 2.2rem;
            width: 20rem;
            color: rgb(155, 155, 155);

            animation: moveUp 1.2s 2s;
            animation-fill-mode: backwards;
        }

        @include respond(mini) {
            font-size: 2rem;
            margin: .6rem;
            width: 15rem;
        }
    }


    &__mobile-banner {
        display: none;

        @include respond(mini) {
            display: block;
            position: absolute;
            top: 0;
            width: 100vw;
            z-index: -1;
            opacity: 0.3;

            animation: fadeInVague 1.2s 1s;
            animation-fill-mode: backwards;
        }
    }
}