.themes {

    display: grid;
    grid-template-columns: repeat(2, min-content);

    justify-content: center;
    padding: 10rem 5rem;
    gap: 5rem;

    @include respond(phone) {
        grid-template-columns: min-content;
        gap: 1rem;
        margin-top: 3rem;
    }

    &__figure {
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        &--1 {
            flex-direction: row-reverse;

            @include respond(phone) {
                flex-direction: row;
            }
        }

    }

    &__image {
        display: block;
        height: 25vw;
        width: 25vw;
        border-radius: 50%;
        margin-bottom: 2rem;
        border: none;
        cursor: pointer;

        @include respond(phone) {
            width: 40vw;
            height: 40vw;
        }

        @media only screen and(max-width: 400px) {
            width: 50vw;
            height: 50vw;
            margin-left: 2rem;
        }

        animation: grow 1.5s ease 2.3s;
        animation-fill-mode: backwards;

        &:hover {
            background-color: rgb(235, 233, 233);
            outline: 2.5rem solid rgb(235, 233, 233);
        }

        &:hover + figcaption {
            color: rgb(133, 131, 131);
        }

    }


    &__caption {
        text-align: center;
        font-size: 2.8rem;
        margin: 1rem 3rem;
        color: lightgrey;
        cursor: pointer;
        width: 20rem;

        animation: fadeIn 1.2s 1s;
        animation-fill-mode: backwards;

        @include respond(tab-land) {
            font-size: 2.5rem;
            width: 15rem;
        }

        @media only screen and (max-width: 700px) {
            font-size: 2rem;
            margin: .5rem;
        }

        @include respond(phone) {
            grid-template-columns: min-content;
            font-size: 3rem;
            width: 20rem;
            color: rgb(155, 155, 155);

            animation: fadeIn 1.2s 1.8s;
            animation-fill-mode: backwards;
        }

        @media only screen and (max-width: 400px) {
            font-size: 2.5rem;
            margin: .6rem;
            width: 15rem;
        }
    }


    &__mobile-banner {
        display: none;

        @include respond(mini) {
            display: block;
            position: absolute;
            top: 0;
            width: 100vw;
            background-color: aquamarine;
            z-index: -1;
            opacity: 0.3;

            animation: fadeInVague 1.2s 1s;
            animation-fill-mode: backwards;
        }
    }
}