.youtube {
    margin: 2rem 0;
    height: 25.3vw;
    width: 45vw;

    @include respond(tab-port) {
        width: 65vw;
        height: 36.56vw;
    }

    @include respond(phone) {
        width: 80vw;
        height: 45vw;
    }

    @include respond(mini) {
        width: 90vw;
        height: 50.63vw;
    }
}