@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



@keyframes grow {
    0% {
        transform: scale(.005);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes growLittle {
    0% {
        transform: scale(.8); 
    }

    100% {
        transform: scale(1);
    }
}

@keyframes growMedium {
    0% {
        transform: scale(.5); 
    }

    100% {
        transform: scale(1);
    }
}

@keyframes growDot {
    0% {
        color: transparent;
        transform: scale(11) translateY(-5rem) translateX(-4rem);
    }


    100% {
        color: currentColor;
        transform: scale(1);
    }
}

@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes comeFromLeft {
    0% {
        transform: translateX(-100vw);
        opacity: 0;
    }

    85% {
        transform: translateX(2rem);
        opacity: .3;
    }


    100% {
        transform: translateX(1);
        opacity: 1;
    }
}