.footer {
    background-color: black;
    color: grey;
    height: 28vh;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding-top: 3rem;

    @include respond(mini) {
        justify-content: flex-start;
        padding-left: 5%;
    }

    &__social {
        position: absolute;
        display: flex;
        left: 13%;

        @include respond(tab-port) {
            left: 7%;
        }

        @include respond(mini) {
            position: static;
            margin-right: 8%;
        }

        &-icon {
            width: 2.5rem;
            height: 2.5rem;
            margin-top: -.5rem;
            margin-right: 1.2rem;

            transition: all .3s;

            &--3 {
                margin-right: 0;
            }

            &:hover {
                transform: translateY(-2px) scale(1.2);
            }
        }
    }
}