.footer {
    background-color: black;
    color: grey;
    height: 28vh;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding-top: 3rem;
    padding-left: 13vw;

    @include respond(tab-port) {
        padding-left: 7vw;
    }


    &__social {
        display: flex;
        margin-right: 5vw;

        &-icon {
            width: 2.2rem;
            height: 2.2rem;
            margin-top: -.5rem;
            margin-right: 1.2rem;

            transition: all .3s;

            &--3 {
                margin-right: 0;
            }

            &:hover {
                transform: translateY(-2px) scale(1.2);
            }
        }
    }
}