.layout {
    width: 100%;
    max-width: 100vw;      /* optional */
    min-height: 100vh;     /* important: use min-height, not height:100% */
    height: auto;          /* important */
    overflow: visible;     /* important */
    position: relative;

    &__main {
    }
}