.navigation {
    top: 2rem;
    z-index: 3;
    
    // padding: 2rem 0;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        padding: 1.2rem 2rem;
        font-size: 3rem;
        background-color: white;
        margin-top: -3rem;
    }

    &__list {
        width: 100%;
        padding-bottom: 2rem;
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    &__item {
        margin-right: 4rem;
        display: block;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        font-size: 1.6rem;
        display: block;
        padding: .5rem .5rem;
        color: black;
        display: block;
        border-top: 4px solid transparent;
        transition: all .4s;
    }

    &__link:hover {
        border-top: 4px solid currentColor;
        color: rgb(221, 129, 221);
    }

    &__link:active {
        border-top: 3px solid black;
        color: black;
    }

    &__social-media {
        display: flex;
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: .5rem;
        }
    }


}

